<nb-card size="giant">
  <!-- adding new task through form -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
      nbInput
      fullWidth
      status="primary"
      formControlName="title"
      [required]="true"
      placeholder="Describe a task"
    />
    <nb-select
      status="primary"
      placeholder="Choose a category"
      formControlName="category"
      [required]="true"
      style="margin-top: 1rem"
    >
      <nb-option *ngFor="let category of categories" [value]="category">{{
        category
      }}</nb-option>
    </nb-select>
    <div>
      <button
        nbButton
        status="success"
        [disabled]="form.invalid"
        style="margin-top: 1rem"
      >
        Add task
      </button>
    </div>
    <nb-select
      status="primary"
      placeholder="Choose a category to filter by"
      formControlName=""
      style="margin-top: 1rem"
    >
      <nb-option *ngFor="let category of categories" [value]="category">{{
        category
      }}</nb-option>
    </nb-select>
  </form>
  <!-- displaying task list -->
  <nb-card-header> To-Do List </nb-card-header>

  <nb-list>
    <nb-list-item
      *ngFor="let todo of todoList"
      [ngClass]="{ 'line-through-lightgreen': todo.isCompleted }"
      ><div>{{ todo.task }} Category: {{ todo.category }}</div>
      <nb-checkbox
        status="success"
        [(ngModel)]="todo.isCompleted"
        (change)="updateProgress()"
      ></nb-checkbox>
      <button nbButton status="danger" (click)="deleteItem(todo)">
        <nb-icon icon="trash-2-outline"></nb-icon>
      </button>
    </nb-list-item>
  </nb-list>

  <nb-card-footer>
    <div>Progress</div>
    <nb-progress-bar
      status="success"
      [value]="progress"
      [displayValue]="true"
    ></nb-progress-bar>
    <button
      nbButton
      hero
      status="success"
      (click)="deleteCompleted()"
      style="margin-top: 1rem"
    >
      Delete Completed Tasks
    </button>
  </nb-card-footer>
</nb-card>
