<nb-card *ngIf="user">
  <nb-card-body>
    <nb-user
      size="large"
      name="{{ user.displayName }}"
      title="{{ user.email }}"
      picture="{{ user.photoURL }}"
    >
    </nb-user>
  </nb-card-body>
  <nb-card-footer>
    <button *ngIf="user" nbButton hero status="info" (click)="logout()">
      Log Out
    </button>
  </nb-card-footer>
</nb-card>

<button
  *ngIf="!user"
  nbButton
  hero
  status="info"
  style="margin-bottom: 2rem"
  (click)="loginWithGoogle()"
>
  <nb-icon icon="google-outline"></nb-icon>
  Sign in with Google
</button>
