<nb-layout>
  <nb-layout-header fixed>
    <nb-icon icon="done-all-outline" style="margin-right: 0.5rem"></nb-icon>
    <h1>Task Tick</h1>
  </nb-layout-header>
  <nb-sidebar>
    <app-navmenu></app-navmenu>
  </nb-sidebar>
  <nb-layout-column>
    <nb-alert *ngIf="authSuccess && !closeAlert" status="success">
      You have successfully signed in!
    </nb-alert>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <nb-icon icon="github-outline"></nb-icon>
    <a
      href="https://github.com/bvlnt/tasktickapp"
      style="text-decoration: none; margin-left: 1rem"
      target="_blank"
      >TaskTick on GitHub</a
    >
  </nb-layout-footer>
</nb-layout>
